@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Colors */
    --color-dark: #4a4947;
    --color-light: #f9f7f0;
    --color-primary: #b17457;
    --color-med-light: #f1efe6;

    /* Typography */
    --font-weight-bold: 600;
    --font-weight-normal: 450;
    --font-weight-light: 350;
    --font-size-small: .8rem;
    --font-size-regular: 1rem;
    --font-size-large: 1.5rem;
    --font-size-xlarge: 2rem;

    /* Borders */
    --border-radius-regular: .5rem;
}

html,
body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: var(--font-weight-bold);
    color: var(--color-dark);
    padding: 0 1rem;
    background-color: var(--color-light);
}

h1 {
    color: var(--color-primary);
}

header {
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button {
    all: unset;
    cursor: pointer;
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-bold);
    font-variation-settings: "wght" var(--font-weight-bold);
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
    border-radius: var(--border-radius-regular);
    padding: .5rem 1rem;
}

.input-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0;
}

.input-row {
    display: flex;
    gap: 1rem;
}

.input-cell {
    display: flex;
    flex-direction: column;
    width: 50%;
    border: 1px solid var(--color-dark);
    padding: .5rem 1rem;
    border-radius: 0.5rem;
}

.input-cell label {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-light);
    font-variation-settings: "wght" var(--font-weight-light);
    padding-bottom: .25rem;
}

.input-cell input {
    all: unset;
    cursor: text;
    width: 100%;
    font-size: var(--font-size-regular);
}

.input-cell p {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-light);
    font-variation-settings: "wght" var(--font-weight-light);
    padding: 0 1rem;
}

.input-combine {
    display: flex;
    align-items: end;
}

.term-card {
    margin-bottom: 1rem;
    margin-right: 1rem;
    background-color: white;
    color: var(--color-dark);
    border-radius: .5rem;
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-light);
    font-variation-settings: "wght" var(--font-weight-light);
}


.input-error {
    border: 2px solid red;
    outline: none;
}
.term-card rect {
    transition: all 0.4s ease-in-out;
  }
  text.svg-label {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none; /* Optional: avoids mouse capture */
  }

.term-row {
    display: grid;
    grid-template-columns: repeat(360, 2.4rem);
    /* 1 column = 1 month = 2rem wide */
    position: relative;
}

.term-card {
    grid-column-start: var(--start);
    grid-column-end: span var(--duration);
   
}

.loan-header {
    display: flex;
    justify-content: space-between;
    align-items:flex-start;  

    padding-bottom: 0;
}

.term-card button{
    background-color: #e6e6e6;
    color: #4a4947;
    border-radius: .1rem;
    height: 1.2rem;
    width: 1.2rem;
    padding: 0;
    border: none;
}

.term-card p {
    font-size: .7rem;
    padding-bottom: .1rem;
}

.term-card h3 {
    padding-bottom: 0.2rem;
    font-weight: 700;
    font-variation-settings: "wght" 700;
   
}

.svg-graph {
    padding: .7rem 0;
   
   
}

.outputs {
    display: flex;
    justify-content: space-between;
  


}

.outputs .right>h3 {
    padding: 0;
}

.outputs .right {
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.outputs .left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button .material-icons { 
    font-size: 1.2rem;
}

.loan-buttons>button {
    background-color: transparent;

}

.terms-container {
    overflow-x: auto;
  white-space: nowrap;
  scroll-behavior: smooth;
}

.content {
    width: 100%;
    padding: .7rem;
}

.loan-buttons {
    display: flex;
    flex-direction: column;
    gap: .4rem;
    background-color: rgb(233, 233, 233);
    padding: .7rem;
    
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;

}

.term-card {
    display: flex;
    flex-wrap: nowrap;
}